body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    /*dette er den propertien som gjør at bildet ikke gjenter seg slev
    horisontalt eller vertikalt*/
    background-repeat: no-repeat;
/*fixed= paralax scroll effekt
scroll=normal*/
    background-attachment: fixed;
}

.pimg1{
    background-image: url('../Freaky\ Friday/krana.jpg');
    min-height: 100%;
}

.pimg2{
    background-image: url('../Freaky\ Friday/ørken.jpg');
    min-height: 400px;
}

.pimg3{
    background-image: url('../Freaky\ Friday/bad.jpg');
    min-height: 400px;
   
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: rgb(3, 48, 68);
    color:#ddd;
}

.section-dark{
    background-color: rgba(16, 9, 22, 0);
    color: #666;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: 9px;
    

    
}